
section {
  display: flex;
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
  }
}


.hero-box {
  width: 50vw;
  background-color: #eee;
  text-align: center;
  border: #FFD700 2px solid;
}

@media (min-width: 768px) {
  .hero-box {
    border: #00bfff 10px dashed;
  }
}


.hero-box img {
  width: 30vw;
  height: 50vh;
}

.hero-box p {
  font-size: 0.75rem;
}